* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #fcfcfd;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.bar {
  margin: 0;
  width: 100%;
  height: 64px;
  border-bottom: 1px;
  background-color: #4e5ba6;
  display: flex;
  align-items: center;
}

.bar_text {
  width: 140px;
  height: 36px;
  margin-left: 130px;
  color: #fff;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  line-height: 36px;
  text-align: left;
}

.main_contents {
  width: 414px;
  height: 727px;
  margin-top: 61px;
  display: flex;
  background-color: #fff;
  border: #b4b4b4 1px solid;
  border-radius: 1%;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 382px;
  height: 24px;
  margin-top: 52px;
  text-align: center;
}

.title span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
}

.money {
  width: 382px;
  height: 64px;
  margin-top: 28px;
}

.money_text {
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 4px;
}

.money input {
  width: 310px;
  height: 40px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.money input ::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.money button {
  width: 56px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #4e5ba6;
  color: white;
  margin-left: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.money button:hover {
  background-color: #2c3983;
}

.context {
  width: 382px;
  height: 24px;
  margin-top: 28px;
}

.context p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.lottery {
  width: 382px;
  height: 276px;
  margin-top: 8px;
}

.container {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: -6px;
  margin-bottom: 4px;
}

.container span {
  display: inline;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
}

.container p {
  display: inline;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-left: 10px;
  text-align: left;
}

.target {
  width: 382px;
  height: 104px;
  margin-top: 24px;
  display: inline;
}

.target p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}

.inputs {
  display: flex;
}

.target_number {
  width: 244px;
  height: 68px;
  margin-top: 12px;
}

.target_number p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.number_inputs {
  margin-top: 4px;
}

.number_inputs input {
  width: 34px;
  height: 36px;
  border-radius: 4px;
  border: #b4b4b4 1px solid;
  text-align: center;
  font-size: 15px;
}

.number_inputs input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bonus_target {
  width: 84px;
  height: 68px;
  margin-top: 12px;
  margin-left: 54px;
  text-align: right;
}

.bonus_target p {
  text-align: right;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.bonus_target input {
  width: 34px;
  height: 36px;
  margin-top: 4px;
  border-radius: 4px;
  border: #b4b4b4 1px solid;
  text-align: center;
  font-size: 15px;
}

.bonus_target input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.check {
  width: 382px;
  height: 36px;
  margin-top: 27px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #4e5ba6;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.copyright {
  display: flex;
  width: 100%;
  height: 80px;
  margin-top: 45px;
  border-top: #b4b4b4 1px solid;
  align-items: center;
  justify-content: center;
  color: #4e5ba6;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
