html, body{
  margin: 0;
}
body{
  background-color: #FCFCFD;

  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
header{
  width: 100%;
  height: 64px;
  background-color: #4E5BA6;
}
h1{
  margin: 0;
  color: #FFFFFF;

  position: relative;
  top: 50%;
  transform: translate(330px, -50%);

  font-weight: 700;
  font-size: 24px;
}
main{
  box-sizing: border-box;
  height: 720px;
  width: 420px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  border: 1px solid #E2E2E2;
  border-radius: 3px;

  background-color: #FFFFFF;

  flex-direction: column;
}
h2{
  text-align: center;
  margin-top: 50px;
}
main section{
  margin-left: 16px;
}
#purchase p{
  margin-top: 26px;
}
#purchase div{
  margin-top: 8px;

}
#purchase div input{
  width: 310px;
  height: 36px;

  border: 1px solid #8B8B8B;
  border-radius: 3px;
  
  padding: 0;
}
#submit1{
  float: right;
  margin-right: 16px;

  width: 56px;
  height: 36px;

  background-color: #4E5BA6;
  color: #FFFFFF;

  border: 1px solid #4E5BA6;
  border-radius: 3px;
}
#randoms{
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
  height: 300px;
}
#randoms div{
  overflow-y: scroll;
  height: 88%;
  width: 92%;
}
#numbers{
  align-items: flex-end;
}
#numbers div{
  justify-content: space-between;
  margin-right: 16px;
}
#numbers p{
  display: inline-block;
}

#numbers div p:first-child{
  text-align: left;
}
#numbers div p:last-child{
  text-align: right;
  position: relative;
  left: 100%;
  transform: translate(-200%, 0);
}
#numbers div:last-child{
  display: flex;
  flex-direction: row;
}
#numbers div:last-child div{
  flex-direction: row;
  display: flex;
}
#numbers div:last-child div input{
  width: 10px;

  width: 34px;
  height: 36px;

  border: 1px solid #8B8B8B;
  border-radius: 3px;

  margin-right: 8px;
}
#numbers div:last-child input:last-child{
  display: flex;
  float: right;

  width: 34px;
  height: 36px;

  border: 1px solid #8B8B8B;
  border-radius: 3px;

  margin-right: 16px;
}
#submit2{
  align-items: flex-end;

  width: 380px;
  height: 36px;

  margin: 16px;

  
  background-color: #4E5BA6;
  color: #FFFFFF;

  border: 1px solid #4E5BA6;
  border-radius: 3px;

}
footer{
  position: fixed;
  bottom: 0;

  border: 1px solid #b4b4b4;

  text-align: center;

  width: 100%;
  height: 60px;
}
footer p{
  text-align: center;
  color:#4E5BA6;
}






