button {
    width: 100%;
    height: 36px;
    padding: 6px 6px 6px 6px;
    border-radius: 4px 4px 4px 4px;
    border: none;
    background: #4E5BA6;
    color: white;
    font-weight: 700;
}

#button-purchase{
    width: 56px;
}

#button-close {
    position: absolute;
    top: 16px;
    right: 16px;
}
